/* html, body {
  margin: 0; 
  padding: 0;
} */

.articleDiv {
  background-color: #f3f4f6;
  padding: 10px 0px;
  padding-left: 18px;
  margin: 7px 0px;
  border-radius: 10px;
}

h2 {
  margin-bottom: 8px;
}

table {
  text-align: left;
  width: 70%;
  border-collapse: collapse;
  display: inline-block;
}

td {
  vertical-align: top;
}

.articleTitle {
  font-weight: bold;
}

.dragImage {
  /* border: 2pt solid black; */
  height: 12px;
}

.firstCol, .secondCol {
  width: 1%;
}

.thirdCol {
  width: 69%;
}

.hashtags {
  float: right;
  padding-right: 0.6vw;
  width: 28%;
  text-align: right;
}

.profileImage, .dateImage {
  height: 20px;
  float: left;
  margin-right: 4px;
}

.viewImage {
  height: 20px;
  float: left;
}

.author, .content {
  float: left;
  margin-right: 12px;
}

.readfull {
  color: #3b82f6
}

.secondSubRow {
  font-weight: bold;
  color: #6e7481;
}

.hashtagButton {
  color: #4CAF50;
  border: 2px solid #4CAF50;
  border-radius: 7px;
  background-color: #eafaf5;
  padding: 4px 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  margin: 0px 0.2vw;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  text-align: center;
  overflow: hidden;
}

.publishButton, .deleteButton {
  border: 2px solid #4CAF50;
  border-radius: 7px;
  padding: 4px 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  margin: 0px 0.3vw;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  text-align: center;
  overflow: hidden;
  font-weight: bold;
}

.publishButton {
  border: 2px solid #83c8d9;
  background-color: #e2faff;
  color: #2aa4c3;
}

.deleteButton {
  border: 2px solid #f4a2a2;
  background-color: #fef0f1;
  color: #f45d5d;
}

#searchBar {
  float: right;
  padding: 6px 10px;
  padding-left: 15px;
  border: 0.1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
  width: 16vw;
}

#topleft {
  float: left;
}